@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*###################################	Menu e Ranking	##############################*/
.container{
	display: none;
	position: fixed;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  
	border: 2px solid #000000;
	border-radius: 15px;
	box-shadow: 0 0 0 1px #888888, 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
  
	font-family: 'Press Start 2P', cursive;
  
	z-index: 999;
	/* width: 90vh;
	height: 50vh; */
	/* min-height: 50vh; Alteração: usar min-height em vez de height */
	background-color: #3693df;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	opacity: 0.9;
  
  }
  
  .ranking{
	margin-left: 35px;
  }
  
  .menu{
	display: flex;
	flex-direction: column;
	border-right: 5px solid black;
	font-family: 'Press Start 2P', cursive;
  
  }
  


/* ###############################	JOGO	####################################*/
  
  
body{
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: rgb(27 27 207);
}


#pauseButton {
	position: fixed; 
	top: 20px; 
	right: 20px; 
	height: 50px;
	width: 70px;
	z-index: 1000; 
	font-size: 8px;
	margin-top: 0;
	margin-right: 0;
	padding: 0;
	color: white;
	cursor: pointer;
  }
  
/* .balas{
	color: white;
}

.player, .timer{
	color: #fff;
} */

header{
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-family: 'Press Start 2P', cursive;
}

#painel{
    z-index: 99; /* Define um valor maior de z-index para garantir que fique acima do overlay */
    position: relative;
}

#painel header {
    display: flex;
	gap: 10px;
    flex-direction: column;
    align-items: center;
	width: fit-content;
  	margin: 0 auto;
  	border: 1px solid white;
	border-radius: 30px;
  	padding: 0.75rem;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.navJog{
	width: 100px;
	height: 100px;
	background-image: url("../assets/subMaior.gif");
	position: absolute;
}

.dark-layer {
	position: absolute;
	z-index: 1; /* Coloque o overlay em um z-index menor */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo semi-transparente */
  }
  

#medidorPlaneta{
	border:2px solid #000;
	border-radius: 25px;
	width:100px;
	height:20px;
	background-color: #fff;
}

#barraPlaneta{
	width:300px;
	height:20px;
	border-radius: 25px;
	background-color: rgb(177, 177, 253);
}

.tiroJog{
	width:6px;
	height:6px;
	background-color: #000;
	border-radius: 6px;
	position: absolute;
}
.bomba{
	width:50px;
	height:70px;
	position:absolute;
}

.explosaoChao{
	width:55px;
	height:57px;
	position:absolute;
}
.explosaoAr{
	width:70px;
	height:70px;
	position:absolute;
}

/*##############	TABELA	######################*/

table{
	font-size: 25px;
	margin-top: 30px;
  }
  
  th:nth-child(1){
	padding: 30px;
  }
  
  
  th:nth-child(2){
	color: rgb(4, 1, 160);
  
  }
  
  th, td{
	color: rgb(4, 1, 160);
  }
  
  td:nth-child(2){
	color: rgb(4, 1, 160);
	font-weight: bold;
  }
  
  h2{
	color: rgb(2, 1, 85);
	font-weight: bold;
  }

  
  .restart-btn, .home-btn, .pause-button{
	font-size: 20px;
	margin-top: 80px;
	margin-right: 25px;
	padding: 15px;
	border-radius: 10px;
	background-color: rgb(38, 87, 192);
    font-family: 'Press Start 2P', cursive;
	color: rgb(5, 16, 31);
	font-weight: bold;
	transition: transform 0.3;
  }
  
  .restart-btn:hover, .home-btn:hover {
	transform: translateY(-8px);
  }
  
  .home-btn{
	line-height: 30px;
  }
  
  .restart-btn, .home-btn:hover{
	cursor: pointer;
  }
  
  